<div class="page__footer-follow">
    <a href ="https://umd-cv-seminars.github.io/" style="display: inline-block;" style="width:100%;">
      <img src="{{site.baseurl}}/assets/images/umdcs.png" style="max-width:600px; max-height:300px; width: 100%; height: auto;transform: translateY(-20%);">
    </a>
    <div style="display: inline-block; padding-left: 20%;">
      <p style="margin-top: 1.5em; margin-bottom: 1.5em;">Questions?</p>
      <a href="mailto:jbhuang@umd.edu">jbhuang@umd.edu</a>
    </div>
</div>
